@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,400;0,700;1,100&display=swap');

	*{ 
		box-sizing: border-box;
	}

body 
	{
		background-image: url(https://media.istockphoto.com/vectors/vintage-diner-vector-id1277180530?k=20&m=1277180530&s=612x612&w=0&h=4Ypav268mBCYBhCgAz9ByArwo6QCrxxYzL-nIO-iAjg=);
		background-size: cover;
		background-position: center center;
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100vh;
		font-family: 'Barlow', sans-serif;
		margin: 0;
	}

h1
	{
		font-weight: normal; 
		font-size: 4rem;
	 	margin-top: 5rem;
	}

.timer-block	
	{
		display: flex;
	}

.big-text	
	{
		font-weight: bold;
		font-size: 6rem;
		line-height: 1;
		margin: 0 2rem;
	}

.time-element	
	{
		text-align: center;
		align-items: center;
	}

.time-element span 	
	{
		font-size: 1.5rem;
	}